ConnectionStrings__DefaultConnection=url de tu base de datos
InventoryApi__BaseUrl=url de tu api de inventario

# Para simular caída de Inventario, cambiar a una URL inválida y reiniciar:
# InventoryApi__BaseUrl=http://url-invalida-simulada:9999
